root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# indentation
indent_style = space
indent_size = 2

# Charset
charset = utf-8

# Markdown
[*.md]
trim_trailing_whitespace = false